<div class="condition-box">
    <a class="btn btn-sm btn-default"  ng-click="overTimeApply(true)">
        <i class="fa fa-search"></i>
        查询
    </a>
    <a class="btn btn-sm btn-default"  ng-click="deleteUsers()">
        <i class="fa fa-trash-o"></i>
        删除
    </a>
</div>
<div class="table-box">
    <div class="ops-box" >
        <div>
            <span>每页显示</span>
            <select ng-model="displayCount" style="margin-right: 10px">
                <option ng-repeat="num in pageNumbers" ng-bind="num" value="{{num}}"></option>
            </select>
        </div>
        <div ng-show="totalPage > 0">
            <span>当前显示第<span ng-bind="currentPage"></span>页&nbsp;&nbsp;&nbsp;共<span ng-bind="totalPage"></span>页</span>
        </div>
        <ul class="pagination" ng-show="totalPage > 0">
            <li><a href="javascript:void(0)" ng-click="gotoPage(1)">首页</a></li>
            <li><a href="javascript:void(0)" ng-click="gotoPage(currentPage - 1)">上一页</a></li>
            <li><a href="javascript:void(0)" ng-click="gotoPage(currentPage + 1)">下一页</a></li>
            <li><a href="javascript:void(0)" ng-click="gotoPage(totalPage)">尾页</a></li>
        </ul>
    </div>
    <table class="table table-striped table-hover data-table">
        <thead>
        <tr>
            <th style="width: 25px;"><input type="checkbox" ng-model="selectedAll" ng-change="chooseAll()"></th>
            <th style="width: calc((100% - 25px ) * 20%);">当前用户姓名</th>
            <th style="width: calc((100% - 25px ) * 20%);">员工编号</th>
            <th style="width: calc((100% - 25px ) * 20%);">员工账号</th>
            <th style="width: calc((100% - 25px ) * 20%);">申请日期</th>
            <th style="width: calc((100% - 25px ) * 20%);">状态</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="admin in adminLists">
            <td style="width: 25px;"><input type="checkbox" ng-model="admin.selected" ng-change="choose(admin)"></td>
            <td style="width: calc((100% - 25px ) * 20%);" ng-bind="admin.name"></td>
            <td style="width: calc((100% - 25px ) * 20%);" ng-bind="admin.user_id"></td>
            <td style="width: calc((100% - 25px ) * 20%);" ng-bind="admin.userName"></td>
            <td style="width: calc((100% - 25px ) * 20%);" ng-bind="admin.create_time"></td>
            <td style="width: calc((100% - 25px ) * 20%);" ng-bind="admin.if_agree_overTime_label"></td>
        </tr>
        </tbody>
    </table>
</div>