<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhongdianwanwei.dao.DishesMapper">

    <select id="getDishes" parameterType="Integer" resultType="com.zhongdianwanwei.model.Dish">
        select
            name,
            price,
            img,
            mark
        from dishes  where id = #{id}
    </select>

    <select id="getDishesByIDs" resultType="com.zhongdianwanwei.model.Dish">
        select
            name,
            price,
            img,
            mark
        from dishes  where id in 
        <foreach collection="array" item="item" separator="," open="(" close=")" index="">
            #{item}
        </foreach>
    </select>

    <select id="countDishesByIDs" resultType="Integer">
        select count(id) from dishes where id in
        <foreach collection="array" item="item" separator="," open="(" close=")" index="">
            #{item}
        </foreach>
    </select>

</mapper>
